@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    font-size: 16px;
  }
  
  @media only screen 
  /* and (min-device-width : 320px)  */
  and (max-device-width : 540px) {
  /* Styles */
    html {
      font-size: 10px;
    }
  }
  
  
  .MuiTypography-body1 {
    font-size: 1.25rem;
  }
  
  @font-face {
    font-family: 'GRIFTER';
    src: local('grifterbold'), url(./assets/fonts/grifterbold.otf) format('OpenType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }